


body{
	margin: 0;
	/*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAYx8QURlCpG_X1VBXT_QdHoRZ0mJiPIjVW2jAqt1L6v5yb_M6");
	*/
	background-color: yellow;
	border:5px solid red;
	background-image: url("http://vidyamandir.ac.in/wp-content/uploads/2017/11/education-background-18.jpg");
}

header{
	background-color:yellow;
	color: black;
	padding:12px 0px 35px 10px;background-image: url("http://vidyamandir.ac.in/wp-content/uploads/2017/11/education-background-18.jpg");

}
header h1{
	display:inline;
	font-family: 'Chela One', cursive;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}
header h1 nav ul{
	display:inline;
	padding:0px;
	float:left;
}
nav ul li{
   display:inline;
   list-style-type: none;
   color:black;
   float: left;
   margin-left: 12px;
}
nav ul li a{
	color: blue;
	text-decoration: none;
}
#id1{
	font-family: 'Montserrat', sans-serif;

}
.homred{
	background-color: red;
	padding: 30px 10px 16px 10px;
}
.divider{
	background-color: red;
	height: 5px;
	position: relative;
	top:35px;
	
}
.homblack : hover{
	background-color: blue;
	padding: 30px 10px 16px 10px;
}
.content{
	display: flex;
}
.artcile1{
	height: 100px;
	width: 200px;
	background-color:black;
	color: white;
	padding: 20px 770px 50px 10px;

}

 .div2{
 	background-color: red;
 	height:5px;
 	
   
    
 }
#foot{
	 font-family: 'Lobster', cursive;
	 background-color: white;
	 font-size:15px;
	 float:center;
	 padding-left:50px ;
	 position: relative;
	 border:5px solid red;
	 height:150px;
	 top:1px;
	 background-repeat: none;
	 background-image: url("http://vidyamandir.ac.in/wp-content/uploads/2017/11/education-background-18.jpg");
}

.first{
	font-size: 20px;
	font-color:green bold;
	font-style: italic;
	text-align: center;
	text-decoration: underline;

}

.divide{
	background-color: red;
	height:5px;
	position: relative;
	top:0px;
	border-collapse: none;
}
	
#container{
	font-size: 15px;
text-align: center;
padding-left: 450px;
padding-right: 450px;
padding-bottom:100px; 
font-family:courier;
border:5px solid red;
border-top:none;
align-content: top;
font-family: 'Oswald', cursive;
margin-top: 35px;
height: 550px;
position: relative;
}
	


